p,
li,
head {
    color: purple;
}

head{
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

html {
    background-color: #E10909;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #C9C113;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin:0;
    padding: 20px 0;
    color: #C9C113;
    text-shadow: 3px 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}